# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Variables de entorno (NUNCA SUBIR)
.env
.env.local
.env.production

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Sistema
Thumbs.db
